@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background: white;
}
 
.dark body, html {
  background: rgb(3 7 18); /* gray-950 */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dragging {
  cursor: grabbing;
  user-select: none;
}
